<form (ngSubmit)="keyPressed()">
  <div class="form-group">
    <input
      type="text"
      [(ngModel)]="searchStr"
      title="Artist search"
      name="artistSearch"
      placeholder="Enter part or all of an artist's name"
      class="form-control"
      />
  </div>
  <button type="submit" class="btn btn-success">Search Artist</button>
</form>

<!--loop through artists-->
@if (artists !== null && artists !== undefined) {
  <div>
    <table>
      @for (artist of artists; track artist; let i = $index) {
        <tr>
          <td>
            {{ i + 1 }}
            <img
              [src]="artist?.images?.[2]?.url"
              style="margin: 5px; width: 80px"
              (click)="showArtist(artist)"
              alt="Artist image"
              />
          </td>
          <td>{{ artist.name }}</td>
        </tr>
      }
    </table>
  </div>
}
