<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>{{ artist.name }}</h2>
      <img src="{{ artist.images[1].url }}" class="img-responsive albumCoverImg" alt="Cover" />
      @if (artist.genres.length != 0) {
        <div>
          <h3>Genres:</h3>
          <ul>
            @for (genre of artist.genres; track genre; let i = $index) {
              <li>
                {{ genre }}
              </li>
            }
          </ul>
        </div>
      }
      @if (albums.length != 0) {
        <div>
          <h3>Albums:</h3>
          <ul>
            @for (album of albums; track album; let i = $index) {
              <li>
                <a (click)="viewAlbum(album.id)" [routerLink]="">{{ album.name }}</a> ({{
                album.release_date | date: 'yyyy'
                }})
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
</div>
